.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: blue;
    color: white;
    
}
.link:hover{
    color: orange;
}

